<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        @Gravatar.GetHtml("mad09001@byui.edu")
        @Gravatar.GetHtml("mad09001@byui.edu", 40, "wavatar")
    </div>
</body>
</html>
