@{ 
    var currentDateTime = DateTime.Now;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Movie Database</title>
</head>
<body>
    <h1>Hello World Test Page</h1>
    <p>Hello World!</p>
    <p>Right now it's @currentDateTime</p>
</body>
</html>
